:root {
  /* https://www.colorxs.com/palette/color/royal-blue */
  --verde-claro: #cee5d5;
  --verde-escuro: #0c7e2c;

  --teal-W5: #CCE6E6;
  --teal-W4: #B2D9D9;
  --teal-W3: #80C0C0;
  --teal-W2: #66B3B3;
  --teal-W1: #339999;
  --teal-0: #008080;
  /*Teal*/
  --teal-B1: #006666;
  --teal-B2: #004D4D;
  --teal-B3: #004040;
  --teal-B4: #002626;
  --teal-B5: #001A1A;

  --topBars-height: 60px;
  --footer-height: 250px;
  --sidebarButtons-width: 40px;
  --mainBanner-width: 800px;
  --mainBanner-height: 400px;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* ---------------------------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bs-gray-300);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
}

a,
li a,
ul li a {
  color: var(--verde-escuro);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------------------------------------------- */
.nav-item:hover {
  color: var(--verde-escuro);
}

.nav-item .label {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.treeview li {
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.treeview li span:hover {
  color: var(--verde-escuro);
  border-radius: 4px;
  padding-right: 5px;
}

/* ---------------------------------------------------------------------------------- */
/* Sidebar */
.sidebarOptions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  width: var(--sidebarButtons-width);
  height: 100vh;
  background-color: var(--bs-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: width 0.3s;
}

.sidebarOptions .sidebarOptions-top {
  width: 100%;
}

.sidebarOptions .nav-item {
  width: 100%;
  color: var(--bs-light);
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.sidebarOptions .nav-item.active {
  background-color: var(--bs-dark);
}

.sidebarOptions .nav-item.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--verde-escuro);
}

.sidebarOptions .nav-item i {
  font-size: 1.25rem;
}

.sidebarOptions-bottom {
  width: 100%;
  text-align: center;
}

/* Sidebar Panel */
.sidebarPanel {
  position: fixed;
  top: 0;
  left: var(--sidebarButtons-width);
  width: 300px;
  height: 100vh;
  border-right: 2px solid black;
  display: none;
  flex-direction: column;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.sidebarPanel.show {
  display: flex;
}

.sidebarPanel-header {
  padding: 1rem;
  height: var(--topBars-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--verde-escuro);
  border-bottom: 2px solid black;
}

.sidebarPanel-header h6 {
  margin: 0;
  font-weight: 600;
}

.sidebarPanel-body {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
  background-color: var(--verde-claro);
}

/* ---------------------------------------------------------------------------------- */
/* Sticky Header */
.stickyTop {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--sidebarButtons-width));
  margin-left: var(--sidebarButtons-width);
  display: flex;
  justify-content: space-between;
  align-items: start;
  transform: translateY(-100%);
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
  z-index: 999;
  /* less than sidebar (z-index: 1000) */
  border-bottom: 2px solid black;
}

.stickyTop.show {
  transform: translateY(0);
}

.stickyTop-titles {
  width: 100%;
  padding: 5px;
  height: var(--topBars-height);
  display: flex;
  color: var(--bs-gray-300);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verde-escuro);
}

.footer-top-section h6,
.stickyTop-titles h6 {
  font-style: italic;
}

/* ---------------------------------------------------------------------------------- */
/* Main Header */
.header {
  margin-left: var(--sidebarButtons-width);
  padding: .5rem;
  width: calc(100% - var(--sidebarButtons-width));
  height: var(--topBars-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-bottom: 2px solid black;
  background-color: var(--verde-claro);
}

.header-left,
.header-right,
.header-titles {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.header-left {
  flex-direction: row;
}

.header-right {
  align-items: end;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-titles {
  padding-left: 10px;
  justify-content: center;
}

.header-titles h6 {
  color: var(--bs-gray-700);
}

.header-titles h5,
.mainHeader-right h5 {
  color: var(--verde-escuro);
}

/* ---------------------------------------------------------------------------------- */
/* Top banner */
.mainBanner {
  /* margin-left: var(--sidebarButtons-width); */
  width: 100%;
  height: calc(var(--mainBanner-height) + 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--verde-claro);
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}

.mainBannerImage {
  width: var(--mainBanner-width);
  height: var(--mainBanner-height);
  object-fit: fill;
  display: block;
  border: 3px solid black;
  border-radius: 5px;
}

/* ---------------------------------------------------------------------------------- */
/* Contents */
.pageContent {
  margin-left: var(--sidebarButtons-width);
  width: calc(100% - var(--sidebarButtons-width));
  left: var(--sidebarButtons-width);
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: black;
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}

.sectionContent {
  background: rgba(206, 229, 213, 0.9);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(12, 126, 44, 0.2);
  width: 100%;
  height: 90vh;
  padding: 1rem;
  overflow-y: auto;
}

.sectionContent::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.sectionContent h1 {
  margin: 0px;
  color: var(--verde-escuro);
}

.tags {
  margin: 0px;
}

.tag {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: x-small;
  font-weight: bold;
  color: var(--verde-claro);
  background-color: var(--bs-gray-600);
  border-radius: 4px;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------- */
/*  */
.parallax-section {
  position: relative;
  height: 100vh;
  /* full viewport height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.backImage1 {
  background-image: url('/projetos/.shared/assets/img/cras/cras - arte.webp');
}

.backImage2 {
  background-image: url('/projetos/.shared/assets/img/cras/cras - banner.webp');
}

.backImage3 {
  background-image: url('/projetos/.shared/assets/img/cras/cras - logo.png');
}

.backImage4 {
  background-image: url('/projetos/.shared/assets/img/cras/cras - varjao.jpg');
}

/* ---------------------------------------------------------------------------------- */
/* Footer */
.footer {
  height: var(--footer-height);
  width: calc(100% - var(--sidebarButtons-width));
  margin-left: var(--sidebarButtons-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
  background-color: var(--verde-escuro);
}

.footer-top,
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--verde-claro);
  align-items: start;
}

.footer-top-left,
.footer-top-center,
.footer-top-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px dashed silver;
}
.footer-top-left {
  justify-content: center;
  align-items: start;
}
.footer-top-center {
  justify-content: center;
  align-items: center;
  position: fixed;
}
.footer-top-right {
  justify-content: center;
  align-items: end;
}

.footer p {
  margin: 0;
}

.footer-top {
  padding: 0 10px;
  height: calc(var(--footer-height) - 15px);
}

.footer-bottom {
  height: 15px;
  font-size: 10px;
}

.footer-bottom-left {
  padding-left: 5px;
  cursor: pointer;
}

.footer-bottom-right {
  padding-right: 5px;
  cursor: pointer;
  text-align: right;
}
.footer-top-center {
  background-image: url('/projetos/.shared/assets/img/cras/cras - varjao.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mapImage { 
  width: 100%;
  height: calc(var(--footer-height) - 70px);
}

/* ---------------------------------------------------------------------------------- */
/* Adjusts with sidebar and panel */
body.panel-open .stickHeader,
body.panel-open .header,
body.panel-open .pageContent,
body.panel-open .footer {
  margin-left: calc(var(--sidebarButtons-width) + 300px);
  width: calc(100% - 300px - var(--sidebarButtons-width));
}