:root {
  /* https://www.colorxs.com/palette/color/royal-blue */
  --color-black: rgb(20, 20, 20);

  --color-secondary: rgb(173, 181, 189);
  /* #adb5bd 500*/
  --color-primary: rgb(73, 80, 87);
  /* #495057 700 */
  --color-primary-dark: rgb(33, 37, 41);
  /* #212529 900 */
  --color-emphasis: rgb(5, 81, 96);

  /* cor secundária + transparência */
  --color-parallax-back: rgba(173, 181, 189, 0.9);
  /* --color-shadow: rgba(173, 181, 189, 0.5); */
  --color-shadow: black;

  /* Teal */
  --teal-W5: rgb(204, 230, 230);
  --teal-W4: rgb(178, 217, 217);
  --teal-W3: rgb(128, 192, 192);
  --teal-W2: rgb(102, 179, 179);
  --teal-W1: rgb(51, 153, 153);
  --teal-0: rgb(0, 128, 128);
  --teal-B1: rgb(0, 102, 102);
  --teal-B2: rgb(0, 77, 77);
  --teal-B3: rgb(0, 64, 64);
  --teal-B4: rgb(0, 38, 38);
  --teal-B5: rgb(0, 26, 26);

  --topBars-height: 60px;
  --footer-height: 180px;
  --sidebarButtons-width: 40px;
  --mainBanner-width: 800px;
  --mainBanner-height: 400px;
  --navPanel-width: 300px;
  --notePanel-width: 300px;
}

/* ::-webkit-scrollbar {
  width: 0px;
  display: none;
} */

/* ---------------------------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bs-gray-300);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
}

a,
p a,
li a,
ul li a,
div a {
  color: var(--color-emphasis);
  text-decoration: none;
}

a:hover,
p a:hover,
li a:hover,
ul li a:hover,
div a:hover {
  /* text-decoration: underline; */
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
.nav-item:hover {
  color: var(--color-primary-dark);
}

.nav-item .label {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.treeview li {
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.treeview li span:hover {
  color: var(--color-primary-dark);
  border-radius: 4px;
  padding-right: 5px;
}

p, .text-justify {
  text-align: justify;
  margin-bottom: 0.5rem !important;
}

.fn-1 {
  border-top: 1px solid black;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.65rem;
}

.tx-ss p,
.tx-ss ul li {
  text-align: start;
  font-size: small;
}

/* ---------------------------------------------------------------------------------- */
/* Sidebar */
.leftMenu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  width: var(--sidebarButtons-width);
  height: 100vh;
  background-color: var(--bs-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: width 0.3s;
}

.leftMenu .leftMenu-top {
  width: 100%;
}

.leftMenu .nav-item {
  width: 100%;
  color: var(--bs-light);
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.leftMenu .nav-item.active {
  background-color: var(--bs-dark);
}

.leftMenu .nav-item.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-primary);
}

.leftMenu .nav-item i {
  font-size: 1.25rem;
}

.leftMenu-bottom {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

/* Left Panel */
.leftPanel {
  position: fixed;
  top: 0;
  left: var(--sidebarButtons-width);
  width: var(--navPanel-width);
  height: 100vh;
  border-right: 1px solid var(--color-primary);
  display: none;
  flex-direction: column;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.leftPanel.show {
  display: flex;
}

.leftPanel-header {
  padding: 1rem;
  height: var(--topBars-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-right: 1px solid var(--color-secondary);
}

.leftPanel-header h6 {
  margin: 0;
  font-weight: bold;
}

.leftPanel-body {
  padding: .5rem;
  overflow-y: auto;
  flex-grow: 1;
  background-color: var(--color-secondary);
  font-size: small;
}

/* ---------------------------------------------------------------------------------- */

/* Right Panel */
.rightPanel {
  position: fixed;
  z-index: 2000;
  width: var(--notePanel-width);
  top: calc(var(--topBars-height) + 10px);
  height: calc(100vh - var(--topBars-height) - 20px);
  left: calc(100vw - var(--notePanel-width) - 50px);
  border-radius: 10px;
  box-shadow: 0 8px 20px var(--color-shadow);
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
  overflow: hidden;
}

.rightPanel.show {
  transform: translateY(0); 
  opacity: 1;
  pointer-events: auto;
  z-index: 2000;
}

.rightPanel-header {
  padding: 1rem;
  height: calc(var(--topBars-height) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-primary);
}

.rightPanel-header h6 {
  margin: 0;
  font-weight: bold;
}

.rightPanel-body {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-secondary);
}

.note {
  text-decoration: wavy;
  color: var(--color-emphasis);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------- */
/* Sticky Header */
.stickyTop {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--sidebarButtons-width));
  margin-left: var(--sidebarButtons-width);
  display: flex;
  justify-content: space-between;
  align-items: start;
  transform: translateY(-100%);
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
  z-index: 999;
}

.stickyTop.show {
  transform: translateY(0);
}

.stickyTop-titles {
  width: 100%;
  padding: 5px;
  height: var(--topBars-height);
  display: flex;
  color: var(--bs-gray-300);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.footer-top-section h6,
.stickyTop-titles h6 {
  font-style: italic;
}

/* ---------------------------------------------------------------------------------- */
/* Main Header */
.header {
  margin-left: var(--sidebarButtons-width);
  padding: .5rem;
  width: calc(100% - var(--sidebarButtons-width));
  height: var(--topBars-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: var(--color-secondary);
}

.header-left,
.header-titles {
  display: flex;
  align-items: start;
}

.header-titles {
  flex-direction: column;
  padding-left: 10px;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header-logo {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-primary);
}

.header-titles h6 {
  color: var(--bs-gray-700);
}

.header-titles h5,
.header-right h5 {
  color: var(--color-primary);
}

/* ---------------------------------------------------------------------------------- */
/* Top banner */
.mainBanner {
  width: 100%;
  height: calc(100vh - var(--topBars-height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-secondary);
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}

.mainBannerImage {
  width: var(--mainBanner-width);
  height: var(--mainBanner-height);
  object-fit: fill;
  display: block;
  border-radius: 5px;
}

/* ---------------------------------------------------------------------------------- */
/* Contents */
.pageContent {
  margin-left: var(--sidebarButtons-width);
  width: calc(100% - var(--sidebarButtons-width));
  left: var(--sidebarButtons-width);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}

.sectionContent {
  margin: 1rem;
}

.tags {
  margin: 0px;
}

.tag {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: x-small;
  font-weight: bold;
  color: var(--color-secondary);
  background-color: var(--color-primary-dark);
  border-radius: 4px;
  cursor: default;
}

/* ---------------------------------------------------------------------------------- */
/*  */
.parallax-section {
  position: relative;
  height: calc(100vh - var(--topBars-height));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paralaxSectionContent {
  width: 100%;
  padding: 1rem;
  margin: 2rem;
  height: calc(100vh - var(--topBars-height) - 40px);
  background-color: var(--color-parallax-back);
  box-shadow: 0px 8px 20px var(--color-shadow);
  border-radius: 10px;
  overflow: clip; /* Prevents scrollbar from bleeding out */
  position: relative;
}

.paralaxSectionContent h1,
.paralaxSectionContent h2,
.paralaxSectionContent h3 {
  margin: 0px;
  color: var(--color-primary);
}

.backCrasArte {
  background-image: url('/projetos/.shared/assets/img/cras/cras - arte.webp');
}

.backCrasBanner {
  background-image: url('/projetos/.shared/assets/img/cras/cras - banner.webp');
}

.backCrasLogo {
  background-image: url('/projetos/.shared/assets/img/cras/cras - logo.png');
}

.backCrasVarjao {
  background-image: url('/projetos/.shared/assets/img/cras/cras - varjao.jpg');
}

.backSedesFachada {
  background-image: url('/projetos/.shared/assets/img/sedes/sedes-fachada.avif');
}

.paralaxSectionInner {
  height: 100%;
  overflow-y: auto;
  padding-right: 1rem; /* Optional: Adds breathing room between content and scrollbar */
  border-radius: inherit; /* Keeps rounded corners */
}

/* ::-webkit-scrollbar {
  width: 10px;
  display: block;
} */

/* Hide scrollbar arrows (buttons) — Chrome, Edge, Safari */
.paralaxSectionInner::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Optional: Make scrollbar thinner */
.paralaxSectionInner::-webkit-scrollbar {
  width: 8px;
}

/* Optional: Customize scrollbar thumb */
.paralaxSectionInner::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

/* Optional: Customize scrollbar track */
.paralaxSectionInner::-webkit-scrollbar-track {
  background-color: transparent;
}

/* ---------------------------------------------------------------------------------- */
/* Footer */
.footer {
  height: var(--footer-height);
  width: calc(100% - var(--sidebarButtons-width));
  margin-left: var(--sidebarButtons-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
  background-color: var(--color-primary);
}

.footer p {
  margin: 0;
}

.footer ul,
.footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: small;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h6 {
  margin: 0px;
  padding: 5px 0px;
  color: var(--color-secondary);
  font-style: italic;
}

.footer-top,
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-secondary);
  align-items: start;
  gap: 20px;
}

.footer-top {
  padding: 0 10px;
  height: calc(var(--footer-height) - 15px);
}

.footer-top-left,
.footer-top-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-top-left {
  width: 33%;
  align-items: start;
}

.footer-top-right {
  width: 33%;
  align-items: center;
  text-align: center;
  font-size: small;
}

.img-ls-1 {
  width: 250px;
  height: 150px;
}

.img-ls-2 {
  width: 300px;
  height: 200px;
}
.img-ls-3 {
  width: 400px;
  height: 250px;
}
.img-ls-4 {
  width: 500px;
  height: 350px;
}
.img-ls-5 {
  width: 600px;
  height: 400px;
}
.r-10 {
  border-radius: 10px;
}

.ico-p100 {
  width: 100px;
  height: 100px;
}

.footer-bottom {
  color: var(--color-primary-dark);
  font-weight: bold;
  height: 15px;
  font-size: 10px;
}

.footer-bottom-left {
  padding-left: 5px;
  cursor: default;
}

.footer-bottom-right {
  padding-right: 5px;
  cursor: default;
  text-align: center;
}

/* ---------------------------------------------------------------------------------- */
/* Adjusts with sidebar and panel */
body.panel-open .stickHeader,
body.panel-open .header,
body.panel-open .pageContent,
body.panel-open .footer {
  margin-left: calc(var(--sidebarButtons-width) + var(--navPanel-width));
  width: calc(100% - var(--navPanel-width) - var(--sidebarButtons-width));
}

.btn-hide {
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-hide i {
  color: var(--color-secondary);
  transition: color 0.2s ease;
}

.btn-hide:hover i {
  color: black;
}

/* ---------------------------------------------------------------------------------- */
/* building */
.building {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--topBars-height) - var(--footer-height));
}

.building .icon {
  font-size: 5rem;
}

.building h1 {
  color: var(--color-primary);
}

.building p {
  font-size: 1.2rem;
}

.building a {
  cursor: pointer;
  color: var(--color-primary);
}

/* ---------------------------------------------------------------------------------- */
.no-js {
  padding: 1em;
  height: 100vh;
  color: #900;
  background: #ffdddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.no-js-warning {
  display: flex;
}

.js-enabled .no-js-warning {
  display: none;
}

.js-enabled .js-only {
  display: flex;
}

.js-only {
  display: none;
}

.no-animation {
  transition: none !important;
}

/* ---------------------------------------------------------------------------------- */

.cards-v {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:10px;
}
.card-h {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap;  */
  justify-content: space-between;
  align-items: center;
  gap:10px;
}
.card-h-l {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.card-h-r {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cards-v .card-h:nth-child(even) {
  flex-direction: row-reverse;
}

/* ---------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .card-h {
    flex-direction: column;
    align-items: stretch;
  }

  .card-h-l,
  .card-h-r {
    width: 100%;
  }
}

/* ---------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------- */