:root {
    /* https://www.colorxs.com/palette/color/royal-blue */
  --color-primary-dark    : rgb(12, 126, 44);
  --color-primary         : rgb(100, 200, 128);
  --color-primary-light   : rgb(206, 229, 213);

  --color-parallax-back : rgba(206, 229, 213, 0.9);

  --footer-height: 250px;
}

.carousel {
    margin-top: 10px;
}

.carousel-item {
  height: 55vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Specific background images */
.bg-slide-1 {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs.png');
}
.bg-slide-2 {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_especialistas.png');
}
.bg-slide-3 {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_acessoRestrito.png');
}


/* Ajuste de texto para a legenda */
.carousel-caption {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 0 10px; /* Espaçamento horizontal */
    max-width: 90%; 
    text-align: center; 
}

/* Ajustando o tamanho da fonte do título e do parágrafo */
.carousel-caption h1 {
    font-size: 1.0rem; 
    font-weight: 600; 
    margin-bottom: 10px; 
}

.carousel-caption p {
    font-size: 0.8rem; 
    opacity: 0.75; 
    margin-bottom: 20px; 
}

/* Botão */
.carousel-caption a {
    font-size: 0.9rem; 
    padding: 10px 20px; 
    background-color: rgba(121, 121, 121, 0.4); 
    border-radius: 5px; 
    color: white; 
    text-decoration: none; 
    border: none; 
    backdrop-filter: blur(8px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

/* Alteração no efeito de hover */
.carousel-caption a:hover {
    background-color: var(--color-primary); 
    backdrop-filter: blur(12px); 
}

/* Ajuste nos ícones de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;  
  height: 30px; 
  background-color: transparent; 
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  font-size: 0.5rem; 
  color: var(--color-primary-dark); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(25, 0, 0, 0.8); 
}

@media (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}
