:root {
    /* https://www.colorxs.com/palette/color/royal-blue */
  --color-primary-dark    : rgb(12, 126, 44);
  --color-primary         : rgb(100, 200, 128);
  --color-primary-light   : rgb(206, 229, 213);

  --color-parallax-back : rgba(206, 229, 213, 0.9);

  --footer-height: 250px;
}

.carousel {
    margin-top: 10px;
}

.carousel-item {
  height: 52vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Specific background images */
.bg-slide-semAcesso {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_acessoRestrito.png');
}
.bg-slide-especialista {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_especialistas.png');
}
.bg-slide-gestor {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_gestores.png');
}
.bg-slide-sedesEspecialista {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_sedesComoEspecialista.png');
}
.bg-slide-sedesGestor {
  background-image: url('/projetos/.shared/assets/img/sedes/paif/telas/telaAs_sedesComoGestor.png');
}

.popupValidacao {
  width: 400px; 
  height: 250px; 
  margin-top: 1rem;
}

/* Ajuste de texto para a legenda */
.carousel-caption {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    min-width: 50%;
    max-height: 120px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Ajustando o tamanho da fonte do título e do parágrafo */
.carousel-caption h1 {
    font-size: 1.0rem; 
    font-weight: 600; 
    margin-bottom: 5px; 
}

.carousel-caption p {
    font-size: 0.8rem; 
    margin-bottom: 10px; 
}

/* Botão */
.btn-xm {
  font-size: 0.5rem;
  padding: 3px 5px;
  border-radius: 3px;
}

.carousel-caption a {
    font-size: 0.65rem; 
    padding: 3px 8px; 
    background-color: transparent; 
    color: white; 
    text-decoration: none; 
    border: none; 
}

/* Alteração no efeito de hover */
.carousel-caption a:hover,
.carousel-caption a:active {
    background-color: rgba(0, 0, 0, 0.3); 
    color: white; 
    border: none; 
}

/* Ajuste nos ícones de navegação */
.carousel-control-prev,
.carousel-control-next {
  width: 8%; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;  
  height: 30px; 
  background-color: transparent; 
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
  font-size: 0.5rem; 
  color: var(--color-primary-dark); 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3); 
}

.carousel-indicators {
  position: static;     
  justify-content: center;
}

.carousel-indicators .active {
    background-color: var(--color-primary-dark);
}

@media (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}
