.sectionContent p {
    font-family: 'Times New Roman', Times, serif;
}


.box-header {
    padding: 0px .5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #f8f9fa;
    gap : 20px;
    border: 1px solid #ddd;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-btn {
    color: #333;
    cursor: pointer;
}

.box-btn:hover {
    color: var(--verde-escuro);
}

.box-body {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
}