.sectionContent p {
    font-family: 'Times New Roman', Times, serif;
}


.box-header,
.box-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.5rem;
}

.box-header {
    width: 100%;
    margin: 0.5rem 0px;
    border: 1px solid #ddd;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-header h6 {
    text-align: end;
}
.box-buttons {
    /* font-size: 1.1rem; */
    gap: 20px;
}

.box-buttons.collapsed {
    background: #e9ecef;
}

.box-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}

.box-btn:hover {
    color: var(--verde-escuro);
}

.box-body {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: #fff;
}